#Hero-Section{
    background-image: url("../img/bg-hero.jpg");
    background-image: url("../img/FOTOMATI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}